<nav class="navbar navbar-light navbar-expand-lg fixed-top">

    <div class="container">
        <a class="navbar-brand" href="index.html">
            <img src="assets/images/logo_bidonline%402x.png"
                srcset="https://bidonline.my/images/logo_bidonline.png 320w, https://bidonline.my/images/logo_bidonline@2x.png 767w, https://bidonline.my/images/logo_bidonline@3x.png 1200w"
                alt="Bidonline.my" width="135" /> </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHome"
            aria-controls="navbarHome" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarHome">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="Home">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="Auctions">
                        Auctions
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="about.html">
                        About
                    </a>
                </li>
            </ul>


            <a class="btn btn-success " href="AddAuction">
                Add Auction
            </a>
        
    
            <ul class="navbar-nav ml-auto navbar-auth">
                <li class="nav-item">
                  <a *ngIf="userId== undefined" class="nav-link nav-auth" href="Signup">
                    Sign Up
                  </a>
                </li>
                <li class="nav-item">
                    <a *ngIf="userId== undefined"  class="btn btn-primary" href="Login">
                      Log In
                    </a>
                    <a *ngIf="userId!== undefined"  class="btn btn-primary" href="Profile">
                      Profile
                    </a>
                  </li>
                  <li class="nav-item">
                    <a *ngIf="userId!== undefined" class="btn btn-primary" (click)=" deconnextion()">
                        Log Out
                      </a>
                  </li>
              </ul>
        </div>
    </div>
</nav>