<footer>
    <div class="container">
      <div class="card-columns">
          <div class="card">
              <div class="social">
                  <a class="logo-footer" href="#">
                      <img src="images/logo_bidonline%402x.png" srcset="https://bidonline.my/images/logo_bidonline.png 320w, https://bidonline.my/images/logo_bidonline@2x.png 767w, https://bidonline.my/images/logo_bidonline@3x.png 1200w" alt="Bidonline.my" width="135" />                    </a>
    
                  <div class="social-app">
                      <a href="https://www.facebook.com/bidonlinemy-281568915983091/" target="_blank">
                          <img src="images/icon_facebook%402x.png" srcset="https://bidonline.my/images/icon_facebook.png 320w, https://bidonline.my/images/icon_facebook@2x.png 767w, https://bidonline.my/images/icon_facebook@3x.png 1200w" alt="" width="24" />                        </a>
                      <a href="https://www.instagram.com/bidonline2/" target="_blank">
                          <img src="images/icon_instagram%402x.png" srcset="https://bidonline.my/images/icon_instagram.png 320w, https://bidonline.my/images/icon_instagram@2x.png 767w, https://bidonline.my/images/icon_instagram@3x.png 1200w" alt="" width="24" />                        </a>
                      
                  </div>
              </div>
          </div>
          <div class="card">
              <h5>Bid Online</h5>
              <ul class="list-unstyled text-small">
                  <li>
                      <a href="index.html">
                          Home
                      </a>
                  </li>
                  <li>
                      <a href="auctions.html">
                          Auctions
                      </a>
                  </li>
                  <li>
                      <a href="items.html">
                          Vehicles
                      </a>
                  </li>
                  <li>
                      <a href="items/properties.html">
                          Properties
                      </a>
                  </li>
                  <li>
                      <a href="about.html">
                          About
                      </a>
                  </li>
              </ul>
          </div>
          <div class="card">
              <h5>Legal</h5>
              <ul class="list-unstyled text-small">
                  <li><a href="privacy-policy.html">Privacy Policy</a></li>
                  <li><a href="terms-and-conditions-vehicle.html">Terms &amp; Conditions (Vehicle)</a></li>
                  <li><a href="terms-and-conditions-property.html">Terms &amp; Conditions (Property)</a></li>
                  <li><a href="legal-owners-terms-and-conditions.html">Legal Owners&#39; Terms and Conditions</a></li>
              </ul>
          </div>
          <div class="card">
              <h5>Too Management</h5>
              <ul class="list-unstyled text-small">
                  <li>
                      <i class="fad fa-phone-square-alt"></i>
                      <a class="text-reset" href="tel:+60361378828">+60 3 6137 6188</a>
                  </li>
                  <li>
                      <i class="fad fa-phone-square-alt"></i>
                      <a class="text-reset" href="tel:+60361378828">+60 11 3381 8193</a>
                  </li>
                  <li>
                      <i class="fad fa-envelope"></i>
                      <a class="text-reset" href="mailto:info@toomanagement.com">info@toomanagement.com</a>
                  </li>
                  <li>
                      <i class="fad fa-clock"></i>
                      <span>Mon - Fri, 9:00AM - 5:00PM</span>
                  </li>
              </ul>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <p class="copyright">Copyright &copy; 2023, All rights reserved  |  by Too Management Holdings Sdn. Bhd.
          </div>
      </div>
    </div>
    </footer>