<!------------------------------------------------------------------------------->

<footer>
    <div class="container">
        <div class="card-columns">
            <div class="card">
                <div class="social">
                    <a class="logo-footer" href="#">
                        <img src="images/logo_bidonline%402x.png"
                            srcset="https://bidonline.my/images/logo_bidonline.png 320w, https://bidonline.my/images/logo_bidonline@2x.png 767w, https://bidonline.my/images/logo_bidonline@3x.png 1200w"
                            alt="Bidonline.my" width="135" /> </a>
                </div>
            </div>
            <div class="card">
                <h5>Bid Battle</h5>
                <ul class="list-unstyled text-small">
                    <li>
                        <a href="/Home">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/Auctions">
                            Auctions
                        </a>
                    </li>
                    <li>
                        <a href="about.html">
                            About
                        </a>
                    </li>
                </ul>
            </div>

            <div class="card">
                <h5>Too Management</h5>
                <ul class="list-unstyled text-small">
                    <li>
                        <i class="fad fa-phone-square-alt"></i>
                        <a class="text-reset" href="tel:+60361378828">+216 93 337 330</a>
                    </li>
                    <li>
                        <i class="fad fa-envelope"></i>
                        <a class="text-reset" href="bidbattle6@gmail.com">bidbattle6@gmail.com</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!------------------------------------------------------------------------------->