
<body class="page app  register">
            
    <!------------------------------------------------------------------------------->
           
    <app-header></app-header>  
     
    <!------------------------------------------------------------------------------->
     
 
     <div class="content">
         <div class="row no-gutters">
 <div class="col-md-6">
     <div class="cover"></div>
 </div>
 <div class="col-md-6">
     <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                     
         <div class="header">
             <h1>Create New Account</h1>
             <p class="subtitle">Sign up to create a new account.</p>
             <p class="subtitle">Already have an account? <a href="login.html">Log in here</a></p>
         </div>
 
 
     
 
 
         <div class="form-group">
             <label for="full_name">Full Name</label>
             <input matInput type="text" id="full_name" name="full_name" class="form-control " formControlName="firstName" placeholder="Full Name" required autofocus>
         </div>
         <div class="form-group">
             <label for="full_name">Full Name</label>
             <input matInput type="text" id="full_name" name="full_name" class="form-control " formControlName="lastName" placeholder="Full Name" required autofocus>
                         </div>  
         <div class="form-group">
             <label for="email">Email</label>
             <input matInput type="email" id="email" name="email" class="form-control " formControlName="email" placeholder="Email" required autofocus>
                         </div>
 
         <div class="form-group">
             <label for="password">Password</label>
             <input matInput   formControlName="password"   type="password" id="password" name="password" class="form-control " placeholder="Password" required>
                         </div>
 
       
         
         <div class="form-group">
             <button class="btn btn-primary" type="submit">Sign Up</button>
         </div>
 
         <div class="form-group">
             <p class="note">By signing up, you agree to our <a href="#">Terms and Conditions</a> and <a href="#">Privacy Policy</a>.</p>
         </div>
     </form>
 </div>
 </div>
     </div> 
<!------------------------------------------------------------------------------->

<footer>
    <div class="container">
        <div class="card-columns">
            <div class="card">
                <div class="social">
                    <a class="logo-footer" href="#">
                        <img src="images/logo_bidonline%402x.png"
                            srcset="https://bidonline.my/images/logo_bidonline.png 320w, https://bidonline.my/images/logo_bidonline@2x.png 767w, https://bidonline.my/images/logo_bidonline@3x.png 1200w"
                            alt="Bidonline.my" width="135" /> </a>
                </div>
            </div>
            <div class="card">
                <h5>Bid Battle</h5>
                <ul class="list-unstyled text-small">
                    <li>
                        <a href="/Home">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/Auctions">
                            Auctions
                        </a>
                    </li>
                    <li>
                        <a href="about.html">
                            About
                        </a>
                    </li>
                </ul>
            </div>

            <div class="card">
                <h5>Too Management</h5>
                <ul class="list-unstyled text-small">
                    <li>
                        <i class="fad fa-phone-square-alt"></i>
                        <a class="text-reset" href="tel:+60361378828">+216 93 337 330</a>
                    </li>
                    <li>
                        <i class="fad fa-envelope"></i>
                        <a class="text-reset" href="bidbattle6@gmail.com">bidbattle6@gmail.com</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!------------------------------------------------------------------------------->
      </body>