<body class="page app  items show">


<!------------------------------------------------------------------------------->
          
<app-header></app-header>  
    
<!------------------------------------------------------------------------------->

<div class="content">
    <div class="main">
<div class="container">

        
<div class="element back">
    <i class="fad fa-angle-left"></i>
    <a href="../items.html">Back</a>
</div>

        
<div class="main-header">
    <h1>JAA1199</h1>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="main-details">
            <div id="loading" class="slick-spinner">
                <div class="spinner-grow text-primary">
                     <span class="sr-only">Loading...</span>
               </div>
            </div>
            <div class="slick-slider">
                <div class="slider slider-for" style="visibility: hidden;">
                                                                                <div>
                            <a href="../../cdn.bidonline.my/bidonline/133604/TMjKtWgbo9Xu.jpg" target="_blank"><img data-lazy="../../cdn.bidonline.my/bidonline/133604/conversions/TMjKtWgbo9Xu-preview.jpg"></a>
                        </div>
                                                    <div>
                            <a href="../../cdn.bidonline.my/bidonline/133605/8yUdvAzeFakN.jpg" target="_blank"><img data-lazy="../../cdn.bidonline.my/bidonline/133605/conversions/8yUdvAzeFakN-preview.jpg"></a>
                        </div>
                                                    <div>
                            <a href="../../cdn.bidonline.my/bidonline/133606/yaMO403uFnba.jpg" target="_blank"><img data-lazy="../../cdn.bidonline.my/bidonline/133606/conversions/yaMO403uFnba-preview.jpg"></a>
                        </div>
                                                    <div>
                            <a href="../../cdn.bidonline.my/bidonline/133607/O5yaW1U5jqP1.jpg" target="_blank"><img data-lazy="../../cdn.bidonline.my/bidonline/133607/conversions/O5yaW1U5jqP1-preview.jpg"></a>
                        </div>
                                                    <div>
                            <a href="../../cdn.bidonline.my/bidonline/133608/ynQ6kCquUVwx.jpg" target="_blank"><img data-lazy="../../cdn.bidonline.my/bidonline/133608/conversions/ynQ6kCquUVwx-preview.jpg"></a>
                        </div>
                                                    <div>
                            <a href="../../cdn.bidonline.my/bidonline/133609/sJINyBezhdFn.jpg" target="_blank"><img data-lazy="../../cdn.bidonline.my/bidonline/133609/conversions/sJINyBezhdFn-preview.jpg"></a>
                        </div>
                                                    <div>
                            <a href="../../cdn.bidonline.my/bidonline/133610/SyitbOPbcHD7.jpg" target="_blank"><img data-lazy="../../cdn.bidonline.my/bidonline/133610/conversions/SyitbOPbcHD7-preview.jpg"></a>
                        </div>
                                                    <div>
                            <a href="../../cdn.bidonline.my/bidonline/133611/tD7fnvRB7HXc.jpg" target="_blank"><img data-lazy="../../cdn.bidonline.my/bidonline/133611/conversions/tD7fnvRB7HXc-preview.jpg"></a>
                        </div>
                                                    <div>
                            <a href="../../cdn.bidonline.my/bidonline/133612/1ZJ9y1SkTrQq.jpg" target="_blank"><img data-lazy="../../cdn.bidonline.my/bidonline/133612/conversions/1ZJ9y1SkTrQq-preview.jpg"></a>
                        </div>
                                                    <div>
                            <a href="../../cdn.bidonline.my/bidonline/133613/wsiWRHMBY6pw.jpg" target="_blank"><img data-lazy="../../cdn.bidonline.my/bidonline/133613/conversions/wsiWRHMBY6pw-preview.jpg"></a>
                        </div>
                                                    <div>
                            <a href="../../cdn.bidonline.my/bidonline/133614/mGOe5c2bNMwV.jpg" target="_blank"><img data-lazy="../../cdn.bidonline.my/bidonline/133614/conversions/mGOe5c2bNMwV-preview.jpg"></a>
                        </div>
                                                    <div>
                            <a href="../../cdn.bidonline.my/bidonline/133615/DfAj4EwoR2LG.jpg" target="_blank"><img data-lazy="../../cdn.bidonline.my/bidonline/133615/conversions/DfAj4EwoR2LG-preview.jpg"></a>
                        </div>
                                                    <div>
                            <a href="../../cdn.bidonline.my/bidonline/134360/7uzbibpqeTWh.jpg" target="_blank"><img data-lazy="../../cdn.bidonline.my/bidonline/134360/conversions/7uzbibpqeTWh-preview.jpg"></a>
                        </div>
                                                    <div>
                            <a href="../../cdn.bidonline.my/bidonline/134361/VTCae6IwBGf4.jpg" target="_blank"><img data-lazy="../../cdn.bidonline.my/bidonline/134361/conversions/VTCae6IwBGf4-preview.jpg"></a>
                        </div>
                                            </div>
                <div class="slider slider-nav" style="visibility: hidden;">
                                                                                <div><img data-lazy="../../cdn.bidonline.my/bidonline/133604/conversions/TMjKtWgbo9Xu-thumb.jpg"></div>
                                                    <div><img data-lazy="../../cdn.bidonline.my/bidonline/133605/conversions/8yUdvAzeFakN-thumb.jpg"></div>
                                                    <div><img data-lazy="../../cdn.bidonline.my/bidonline/133606/conversions/yaMO403uFnba-thumb.jpg"></div>
                                                    <div><img data-lazy="../../cdn.bidonline.my/bidonline/133607/conversions/O5yaW1U5jqP1-thumb.jpg"></div>
                                                    <div><img data-lazy="../../cdn.bidonline.my/bidonline/133608/conversions/ynQ6kCquUVwx-thumb.jpg"></div>
                                                    <div><img data-lazy="../../cdn.bidonline.my/bidonline/133609/conversions/sJINyBezhdFn-thumb.jpg"></div>
                                                    <div><img data-lazy="../../cdn.bidonline.my/bidonline/133610/conversions/SyitbOPbcHD7-thumb.jpg"></div>
                                                    <div><img data-lazy="../../cdn.bidonline.my/bidonline/133611/conversions/tD7fnvRB7HXc-thumb.jpg"></div>
                                                    <div><img data-lazy="../../cdn.bidonline.my/bidonline/133612/conversions/1ZJ9y1SkTrQq-thumb.jpg"></div>
                                                    <div><img data-lazy="../../cdn.bidonline.my/bidonline/133613/conversions/wsiWRHMBY6pw-thumb.jpg"></div>
                                                    <div><img data-lazy="../../cdn.bidonline.my/bidonline/133614/conversions/mGOe5c2bNMwV-thumb.jpg"></div>
                                                    <div><img data-lazy="../../cdn.bidonline.my/bidonline/133615/conversions/DfAj4EwoR2LG-thumb.jpg"></div>
                                                    <div><img data-lazy="../../cdn.bidonline.my/bidonline/134360/conversions/7uzbibpqeTWh-thumb.jpg"></div>
                                                    <div><img data-lazy="../../cdn.bidonline.my/bidonline/134361/conversions/VTCae6IwBGf4-thumb.jpg"></div>
                                            </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="main-details">
            <div class="form-group">
                <div class="title">Reserved Price</div>

                <div class="value">RM 2,700.00</div>
            </div>
                                <div class="form-group">
                <div class="title">Auction Date</div>
                <div class="value">15 May 2023, 3:00 PM</div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="title">Lot No.</div>
                        <div class="value">19</div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="title">View Count</div>
                        <div class="value">888</div>
                    </div>
                </div>
            </div>
                                    <div class="interest">
                    <p>This list has been viewed 888 times. <br>Interested to place a bid?</p>

                                                    <a href="../accounts/login.html?item_type=payment&amp;item_id=1&amp;lot_id=19028&amp;auction_id=499" class="btn btn-primary btn-bid">
                                                        Register to Bid
                        </a>
                    
                                                    <p class="mb-0 mt-3">For On-Line Bid Only.</p>
                                            </div>
                                <hr>
            <div class="share-this">
<label>Share to</label>
<div class="sharethis-inline-share-buttons mb-1" style="display: inline-block;"></div>
<div class="or">or</div>
<button id="copyLink" class="btn btn-link">Copy Link</button>
</div>

        </div>
    </div>
</div> 
</div>
</div>
<div class="container">
</div>
<div class="container">
<div class="details">
<div class="sub-details">
    <h3>
        <i class="icon fad fa-gavel"></i> Auction Details
    </h3>
    <div class="each-details auction-details">
        <div class="row">
            <div class="col-md-6">

                <div class="form-group">
                    <div class="title">Type</div>
                    <div class="value">On-Line</div>
                </div>

                <div class="form-group">
                    <div class="title">Date</div>
                    <div class="value">15 May 2023, 3:00 PM</div>
                </div>

                <div class="form-group">
                    <div class="title">Venue</div>
                    <div class="value">Too Warehouse Selayang<br>Lot 57054 & 57056, Jalan Bukit Idaman, Bukit Idaman, 68100 Selayang, Selangor D.E, Malaysia, Selangor</div>
                </div>

                <div class="form-group">
                    <div class="title">Deposit (General deposit/unit)</div>
                    <div class="value">RM 1,000.00</div>
                                            </div>

                <div class="form-group">
                    <div class="title">Premium</div>
                                                    <div class="value">
                            RM 700.00
                        </div>
                                            </div>

                <div class="form-group">
                    <div class="title">Total</div>
                    <div class="value">
                                                            RM 1,700.00
                                                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
               
                <div class="form-group">
                    <div class="title">Assignor / Defender</div>
                    <div class="value">N/A</div>
                </div>

                                        <div class="form-inline">
                    <div class="title">Proclamation of Sale</div>
                    <a href="https://bidonline.sgp1.digitaloceanspaces.com/bidonline/149595/150523SLY-TENTATIVE-120523PDFI0810-1.pdf" class="btn btn-primary" target="_blank">Download</a>
                </div>
                
                <div class="form-group">
                    <div class="title">Note</div>
                    <div class="value">FOREIGNERS ARE PROHIBITED FROM BIDDING</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sub-details">
                    
        <h3>
<i class="fad fa-car"></i> Car Details
</h3>

<div class="each-details property-details">
<div class="row">
<div class="col-md-6">
    <div class="form-group">
        <div class="title">Ref. No.</div>
        <span class="value">JAA1199</span>
    </div>

    <div class="form-group">
        <div class="title">Category</div>
        <span class="value">Car</span>
    </div>

    <div class="form-group">
        <div class="title">Make</div>
        <span class="value">CHEVROLET</span>
    </div>

    <div class="form-group">
        <div class="title">Model</div>
        <span class="value">CRUZE 1.8 SE</span>
    </div>

    <div class="form-group">
        <div class="title">Reserved Price</div>
        <span class="value">RM 2,700.00</span>
    </div>
</div>
<div class="col-md-6">
    <div class="form-group">
        <div class="title">Assignee/ Plaintiff/ Legal Owner</div>
        <div class="value">KUWAIT FINANCE HOUSE (MALAYSIA) BHD, KL</div>
    </div>

    <div class="form-group">
        <div class="title">Year of Make</div>
        <span class="value">2010 / 11</span>
    </div>

    <div class="form-group">
        <div class="title">Transmission</div>
        <span class="value">Automatic</span>
    </div>

    <div class="form-group">
        <div class="title">Variant</div>
        <span class="value">N/A</span>
    </div>
    
                
            </div>
</div>
</div>
            </div>
</div>
</div>
</div>

<footer>
<div class="container">
<div class="card-columns">
    <div class="card">
        <div class="social">
            <a class="logo-footer" href="#">
                <img src="../images/logo_bidonline%402x.png" srcset="https://bidonline.my/images/logo_bidonline.png 320w, https://bidonline.my/images/logo_bidonline@2x.png 767w, https://bidonline.my/images/logo_bidonline@3x.png 1200w" alt="Bidonline.my" width="135" />                    </a>

            <div class="social-app">
                <a href="https://www.facebook.com/bidonlinemy-281568915983091/" target="_blank">
                    <img src="../images/icon_facebook%402x.png" srcset="https://bidonline.my/images/icon_facebook.png 320w, https://bidonline.my/images/icon_facebook@2x.png 767w, https://bidonline.my/images/icon_facebook@3x.png 1200w" alt="" width="24" />                        </a>
                <a href="https://www.instagram.com/bidonline2/" target="_blank">
                    <img src="../images/icon_instagram%402x.png" srcset="https://bidonline.my/images/icon_instagram.png 320w, https://bidonline.my/images/icon_instagram@2x.png 767w, https://bidonline.my/images/icon_instagram@3x.png 1200w" alt="" width="24" />                        </a>
                
            </div>
        </div>
    </div>
    <div class="card">
        <h5>Bid Online</h5>
        <ul class="list-unstyled text-small">
            <li>
                <a href="../index.html">
                    Home
                </a>
            </li>
            <li>
                <a href="../auctions.html">
                    Auctions
                </a>
            </li>
            <li>
                <a href="../items.html">
                    Vehicles
                </a>
            </li>
            <li>
                <a href="properties.html">
                    Properties
                </a>
            </li>
            <li>
                <a href="../about.html">
                    About
                </a>
            </li>
        </ul>
    </div>
    <div class="card">
        <h5>Legal</h5>
        <ul class="list-unstyled text-small">
            <li><a href="../privacy-policy.html">Privacy Policy</a></li>
            <li><a href="../terms-and-conditions-vehicle.html">Terms &amp; Conditions (Vehicle)</a></li>
            <li><a href="../terms-and-conditions-property.html">Terms &amp; Conditions (Property)</a></li>
            <li><a href="../legal-owners-terms-and-conditions.html">Legal Owners&#39; Terms and Conditions</a></li>
        </ul>
    </div>
    <div class="card">
        <h5>Too Management</h5>
        <ul class="list-unstyled text-small">
            <li>
                <i class="fad fa-phone-square-alt"></i>
                <a class="text-reset" href="tel:+60361378828">+60 3 6137 6188</a>
            </li>
            <li>
                <i class="fad fa-phone-square-alt"></i>
                <a class="text-reset" href="tel:+60361378828">+60 11 3381 8193</a>
            </li>
            <li>
                <i class="fad fa-envelope"></i>
                <a class="text-reset" href="mailto:info@toomanagement.com">info@toomanagement.com</a>
            </li>
            <li>
                <i class="fad fa-clock"></i>
                <span>Mon - Fri, 9:00AM - 5:00PM</span>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="copyright">Copyright &copy; 2023, All rights reserved  |  by Too Management Holdings Sdn. Bhd.
    </div>
</div>
</div>
</footer></body>    