<body class="page app  items show">
    <!------------------------------------------------------------------------------->
    <app-header></app-header>
    <!------------------------------------------------------------------------------->
    <div class="content">
        <div class="main">
            <div class="container">
                <div class="element back">
                    <i class="fad fa-angle-left"></i>
                    <a href="../.html">Back</a>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="main-details">
                            <div class="form-group">
                                <div class="title">Category: {{ auction.product.category }}</div>
                            </div>
                            <div class="form-group">
                                <div class="title">Product name: {{ auction.product.name }}</div>
                            </div>
                            <div class="form-group">
                                <div class="title">End date : {{ auction.endDate | date:'medium' }}</div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="title">Minimum price: {{ auction.minPrice }} TND</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="title">Current price: {{ currentPrice }} TND</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="interest">
                                    <p><br>Interested to place a bid?</p>
                                    <a *ngIf="userId == undefined" href="/Login" class="btn btn-primary btn-bid">
                                        Register to Bid
                                    </a>
                                    <div *ngIf="userId !== undefined" class="container mt-5">
                                        <div class="row justify-content-center">
                                            <div class="col-md-6">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h2 class="card-title mb-2">Add Bid</h2>
                                                        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                                                            <div class="form-floating mb-3">
                                                                <label for="price">Price en DT: </label>
                                                                <input type="number" class="form-control" id="price"
                                                                    formControlName="price" required>
                                                            </div>
                                                            <button type="submit"
                                                                class="btn btn-primary btn-orange  w-100 mt-3">Bid</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p class="mb-0 mt-3">For Bid Battle Only.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!------------------------------------------------------------------------------->

    <footer>
        <div class="container">
            <div class="card-columns">
                <div class="card">
                    <div class="social">
                        <a class="logo-footer" href="#">
                            <img src="images/logo_bidonline%402x.png"
                                srcset="https://bidonline.my/images/logo_bidonline.png 320w, https://bidonline.my/images/logo_bidonline@2x.png 767w, https://bidonline.my/images/logo_bidonline@3x.png 1200w"
                                alt="Bidonline.my" width="135" /> </a>
                    </div>
                </div>
                <div class="card">
                    <h5>Bid Battle</h5>
                    <ul class="list-unstyled text-small">
                        <li>
                            <a href="/Home">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="/Auctions">
                                Auctions
                            </a>
                        </li>
                        <li>
                            <a href="about.html">
                                About
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="card">
                    <h5>Too Management</h5>
                    <ul class="list-unstyled text-small">
                        <li>
                            <i class="fad fa-phone-square-alt"></i>
                            <a class="text-reset" href="tel:+60361378828">+216 93 337 330</a>
                        </li>
                        <li>
                            <i class="fad fa-envelope"></i>
                            <a class="text-reset" href="bidbattle6@gmail.com">bidbattle6@gmail.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!------------------------------------------------------------------------------->
</body>