<body class="page app  auctions index">

    <!------------------------------------------------------------------------------->

    <app-header></app-header>

    <!------------------------------------------------------------------------------->

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title mb-2">Add Auction</h2>
                        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                            <div class="form-floating mb-3">
                                <label for="name">Product name : </label>
                                <input type="text" class="form-control" id="name" formControlName="name" required>
                                <!-- <div *ngIf="myForm.get('nomEtudiant').touched && myForm.get('nomEtudiant').errors?.required" class="error-message">Username is required</div>-->
                            </div>

                            <div class="form-floating mb-3">
                                <label for="category">Category : </label>
                                <input type="text" class="form-control" id="category" formControlName="category"
                                    required>
                            </div>

                            <div class="form-floating mb-3">
                                <label for="minPrice">Minmum price : </label>
                                <input type="number" class="form-control" id="minPrice" formControlName="minPrice"
                                    required>
                            </div>

                            <div class="form-floating mb-3">
                                <label for="endDate">End Date : </label>
                                <input type="datetime-local" class="form-control" id="endDate" formControlName="endDate"
                                    required>
                            </div>

                            <!--<button type="submit" class="btn btn-primary btn-orange  w-100 mt-3" (click)="login()">Login</button>
                    <button type="submit" class="btn btn-primary btn-orange  w-100 mt-3" [disabled]="addForm.invalid" routerLink="/Singin">Register</button>-->

                            <button type="submit" class="btn btn-primary btn-orange  w-100 mt-3">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!------------------------------------------------------------------------------->

    <footer>
        <div class="container">
            <div class="card-columns">
                <div class="card">
                    <div class="social">
                        <a class="logo-footer" href="#">
                            <img src="images/logo_bidonline%402x.png"
                                srcset="https://bidonline.my/images/logo_bidonline.png 320w, https://bidonline.my/images/logo_bidonline@2x.png 767w, https://bidonline.my/images/logo_bidonline@3x.png 1200w"
                                alt="Bidonline.my" width="135" /> </a>
                    </div>
                </div>
                <div class="card">
                    <h5>Bid Battle</h5>
                    <ul class="list-unstyled text-small">
                        <li>
                            <a href="/Home">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="/Auctions">
                                Auctions
                            </a>
                        </li>
                        <li>
                            <a href="about.html">
                                About
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="card">
                    <h5>Too Management</h5>
                    <ul class="list-unstyled text-small">
                        <li>
                            <i class="fad fa-phone-square-alt"></i>
                            <a class="text-reset" href="tel:+60361378828">+216 93 337 330</a>
                        </li>
                        <li>
                            <i class="fad fa-envelope"></i>
                            <a class="text-reset" href="bidbattle6@gmail.com">bidbattle6@gmail.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!------------------------------------------------------------------------------->
</body>